[project]
name = "gai-tutor-planner"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "ibm-watsonx-orchestrate>=2.1.0",
]
